{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Causes and Prevention</title>
</head>
<body>
    <div class="cancer-body">

        <div class="focus-container" id="kidney">
            <h1 class="focus-title">
                Causes and Prevention
            </h1>
            <div class="focus-content">
                <p>
                    Understanding the causes and prevention of coronary artery disease (CAD) is 
                    crucial because it helps reduce the incidence of heart attacks and other serious 
                    cardiovascular events, improves patient quality of life, and lowers healthcare costs. 
                    Early detection and lifestyle modifications, such as a healthy diet and regular exercise, 
                    can significantly mitigate the risk of developing CAD.
                </p>
            </div>
        </div>
        
        <!-- <div class="statistics-container">
            <div class="statistics-image">
                <img src="./images/kidney cartoon2.jpg" alt="">
            </div>
            <div class="statistics-image">
                <img src="./images/Kidney-cancer-age-adjusted-incidence-rates.png" alt="">
            </div>
        </div> -->

        <!-- <div class="prevention-container" id="kidney-cell">>
            <div class="prevention-body">
                <h2>Causes & Prevention</h2>
                <p>
                    Kidney cancer can be caused by various factors, including genetic conditions, environmental exposures, 
                    and lifestyle choices. Inherited genetic conditions like von Hippel-Lindau disease and Birt-Hogg-Dubé 
                    syndrome increase the risk. Smoking, obesity, and high blood pressure are also significant risk factors. 
                    Exposure to certain chemicals can further contribute to the development of kidney cancer. Prevention measures 
                    include quitting smoking, maintaining a healthy weight through balanced diet and exercise, managing blood pressure, 
                    staying hydrated, and being cautious of occupational hazards. Regular check-ups, screenings, and adopting a healthy 
                    lifestyle can help reduce the risk. It's advised to consult healthcare professionals for personalized guidance 
                    based on individual risk factors and medical history.
                </p>
            </div>
            <div class="prevention-image">
                <img src="./images/dark-orange-background-with-curved-lines-vector.jpg" alt="" style="margin: 0rem 0rem -15rem 0 ;">
                <div>
                    <img src="./images/Bildschirmfoto-2021.webp" alt="" >
                </div>
            </div>
        </div> -->

        <!-- <div>
            <img src="./images/aesthetic-orange-aesthetic-mural-image_2476145.jpg" alt="" height="200px" width="100%">
        </div> -->

        <div class="symptoms-container">
            <div class="symptoms-image">
                <img src="{% static 'images/istockphoto-1330603241-612x612.jpg' %}" alt="" style="margin-top: -0.5rem;">
            </div>
            <div class="symptoms-body">
                <h2>Causes</h2>
                <p>
                    Coronary artery disease (CAD) is primarily caused by the buildup of plaque in the coronary arteries, which supply blood 
                    to the heart. This plaque buildup, known as atherosclerosis, narrows the arteries and reduces blood flow. Several key 
                    factors contribute to this condition. Smoking is a major cause, as it damages the arterial lining and accelerates plaque 
                    formation. High levels of cholesterol, particularly low-density lipoprotein (LDL), lead to plaque deposits in the arteries. 
                    Hypertension, or high blood pressure, causes the arteries to thicken and narrow. Diabetes also increases the risk, as high 
                    blood sugar levels damage the arteries. Additionally, obesity and physical inactivity contribute to CAD by promoting hypertension, 
                    high cholesterol, and diabetes. A diet high in saturated and trans fats, cholesterol, and sodium further exacerbates the risk. 
                    Lastly, genetic factors and family history can predispose individuals to CAD, even if other risk factors are managed. Understanding 
                    these causes is crucial for preventing and managing coronary artery disease.
                </p>
            </div>
        </div>

        <div class="treatment-container" id="kidney-cell">
            <div class="treatment-body">
                <h2>Prevention</h2>
                <p>
                    Preventing coronary artery disease (CAD) is crucial for heart health, as it helps reduce the risk of 
                    serious cardiovascular events. While some risk factors like age and family history can't be controlled, 
                    proactive measures can significantly lower the risk. Quitting smoking is essential because tobacco damages 
                    arteries and promotes plaque buildup. A heart-healthy diet, rich in fruits, vegetables, whole grains, and 
                    lean proteins, while minimizing unhealthy fats and sodium, is vital. Adequate sleep supports overall well-being 
                    and heart health, while maintaining a healthy weight through diet and exercise reduces heart strain. Knowing 
                    your risk factors through regular check-ups and screenings is empowering. Limiting alcohol intake and engaging 
                    in regular physical activity are also important. Adhering to prescribed medications for conditions like hypertension 
                    and high cholesterol helps control risk factors and prevent CAD. By taking these steps, individuals can significantly 
                    reduce their risk of developing coronary artery disease and promote long-term heart health.
                </p>
            </div>
            <div class="treatment-image">
                <img src="{% static 'images/istockphoto-1337401560-612x612.jpg' %}" alt="">
            </div>
        </div>

        <!-- <div class="predict-link">
            <p>
                Step into the realm of prediction and unlock the mysteries of tomorrow. Curious to glimpse into what lies ahead? 
                Seek answers and uncover the secrets by  <a href="./kidneyform.html">clicking here</a>. 
                Embrace the excitement of anticipation and let your journey begin. The power to foresee what awaits is at your 
                fingertips. Are you ready to take a leap into the world of predictions? 
            </p>
        </div> -->

    </div>

    <!-- Footer starts -->
    <!-- <footer>
        <ul class="footer-list">
            <li class="footer-list-item"><a href="#">dataset source</a></li>
            <li class="footer-list-item"><a href="#">reference</a></li>
            <li class="footer-list-item"><a href="#">Copyright &copy;</a></li>
        </ul>
        <div class="footer-image">
            <a href="https://github.com/Bolutifee"><img src="./images/github-icon.png" alt=""></a>
            <a href="https://www.linkedin.com/in/idowu-bolutife-14a827254"><img src="./images/linkedin-square-icon.png" alt=""></a>
            <a href="https://twitter.com/thegodlychild?t=OJ7hBy6EZRZqWyIvghOj5Q&s=08"><img src="./images/twitter-icon.png" alt=""></a>
        </div>
    </footer> -->
    <!-- Footer stops -->
    
</body>
</html>